go 1.26.2

use (
	./apps/api
	./apps/sync-worker
	./gen/go
	./platform/auth
	./platform/config
	./platform/db
	./platform/events
	./platform/http
	./platform/integration
	./platform/observability
	./services/audit
	./services/bookingengine
	./services/channel
	./services/integration
	./services/inventory
	./services/mapping
	./services/pms
	./services/pricing
	./services/reservations
	./services/storefront
)
